# Core Python Syntax

- Python names ("variables") and typing
- Control structures & looping: if/elif/else/while/for
- Python data structures: numbers, strings, lists, sets, dicts, tuples
- Python functions, variables, and scoping rules

# Python names and typing

## Python can be used as a desk calculator

In [1]:
2 ** 38

274877906944

In [2]:
1 + 5

6

## Arithmetic operators

- `+` - addition
- `-` - subtraction
- `*` - multiplication
- `/` - division
- `%` - modulo division (remainder)
- `//` - "floor division"
- `**` - exponentiation

## Bitwise operators

- `&` - bitwise and
- `|` - bitwise or
- `^` - bitwise exclusive-or (xor)
- `~` - bitwise inversion

In [3]:
0b0101 | 0b1010

15

In [4]:
0x0f | 0xf0

255

In [5]:
hex(0xaa & 0xf0)

'0xa0'

In [6]:
(0x0f | 0xf0) << 5

8160

## In-place operators

The syntax `x OP= y` means `x = x OP y`, so you can do quick updates to names by typing things like

```python
x += 10
```

Note that Python does *not* have the syntax `x++` for increment (use `x+=1` instead)

## *names* can be *bound* to *values*

In [7]:
x = 5  # the name "x" is bound to the value 5

In [8]:
x + 2

7

In [9]:
x += 10
x

15

## Python *names* are untyped (by default), but the *values* have types

Python names aren't really "variables" as in other languages; they're more like "pointers" or "references"

In [10]:
x = "Prince"

In [11]:
x

'Prince'

In [12]:
x + 1999

TypeError: can only concatenate str (not "int") to str

In [13]:
x + str(1999)

'Prince1999'

In [14]:
y = x
y

'Prince'

In [15]:
x = x + str(1999) # binds 'x' to the value 'Prince1999' but does *not* modify 'y'
x

'Prince1999'

In [16]:
y

'Prince'

# Control structures

- Block structure via indentation
- `if`/`elif`/`else` - conditional execution
- `while` - basic looping
- `for` - iteration through objects

In [17]:
# x = 1999
# x = 2000
# x = 2001
x = float('nan')

In [18]:
if x < 2000:
    print('Pre-milennial')
elif x == 2000:
    print('Millenial!')
elif x > 2000:
    print('Post-milennial')
else:
    print('x is weird')

x is weird

In [19]:
x = 0
while x < 10:  
    print("x = ", x)
    x = x + 1
print('End')

x =  0
x =  1
x =  2
x =  3
x =  4
x =  5
x =  6
x =  7
x =  8
x =  9
End

In [20]:
for x in range(10):   # for(int i = 0; i < 10; i++) {...}
    print(x, end=' ')

0 1 2 3 4 5 6 7 8 9

In [21]:
for x in range(5, 10):
    print(x, end=' ')

5 6 7 8 9

In [22]:
for x in range(0, 10, 2):   # i+= 2
    print(x, end=' ')

0 2 4 6 8

In [23]:
for x in range(9, 0, -2):
    print(x, end=' ')

9 7 5 3 1

In [24]:
# in Python 2, this would have created a list in memory
range(10_00_00_00_000)

range(0, 10000000000)

# Data structures: numbers

Python has 3 built-in numeric types:

- `int` - integers of unbounded precision
- `float` - double-precision floating point numbers
- `complex` - complex numbers (not as widely used)

All number values in Python are **immutable** (`x += 5` creates a *new* number value and assigns `x` to it)

In [25]:
# Integers
x = 100
type(x)

int

In [26]:
# Unbounded precision
x ** 500

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [27]:
0.1 * 3

0.30000000000000004

In [28]:
0.3

0.3

In [29]:
0.3 == 0.1 * 3

False

In [30]:
0.1 * 3 - 0.3

5.551115123125783e-17

In [31]:
0.1 * 3

0.30000000000000004

In [32]:
print('%.01f' % (0.1 * 3))

0.3

In [33]:
# Convenient literal formatting
10_00_00_000

100000000

In [34]:
# Other data formats
0o777

511

In [35]:
0xff

255

In [36]:
0b1010

10

In [37]:
oct(511), hex(255), bin(10)

('0o777', '0xff', '0b1010')

In [38]:
x = 3.14
type(x)

float

In [39]:
x = 0.3
y = 0.1 * 3
x, y

(0.3, 0.30000000000000004)

In [40]:
x == y

False

In [41]:
3.14e-4

0.000314

In [42]:
-0.0 is 0.0

False

In [43]:
0 is 0

True

In [44]:
float('nan')

nan

In [45]:
float('inf')

inf

In [46]:
-float('inf')

-inf

In [47]:
# Complex
x = 1.0j * 1j
x

(-1+0j)

In [48]:
x.real

-1.0

In [49]:
x.imag

0.0

In [50]:
2.718281828 ** (3.14159j)   # ~= -1

(-0.9999999999964778+2.6541203240831864e-06j)

# Data structures: boolean

In [51]:
x = True
type(x)

bool

In [52]:
if x:
    print('x is truthy')
else:
    print('x is falsy')

x is truthy

In [53]:
True, False

(True, False)

## Comparison operators

- `<` - strictly less than
- `<=` - less than or equal to
- `>` - strictly greater than
- `>=` - greater than or equal to
- `==` - equal to (value comparison)
- `!=` - not equal to

## Boolean operators

- `and` - logical and
- `or` - logical or
- `not` - logical not

Note that boolean operators use *short-circuit evaluation*:

In [54]:
x = 10
x < 20 or print('X is large!')

True

In [55]:
x > 20 and print('X is large!')

False

## Conditional expressions

Similar to the ternary operator in other languages (e.g. `size = x < 20 ? 'small' : 'large`)

In [56]:
size = 'small' if x < 20 else 'large'
size

'small'

# Data Structures: `NoneType`

Python's NULL value is called `None`, and it is an singleton

In [57]:
x = None
y = None

In [58]:
x is y

True

Object identity can be compared using the `is` operator, and it is commonly used to compare to `None`:

In [59]:
if x is None:
    print('x is None!')

x is None!

## Data Structures: string

Note that Python strings are *immutable* and *unicode-aware*

In [60]:
# Python strings can be single- or double- quoted
x = 'This is a "valid" Python string'
y = "So is this, isn't it?"
z = 'Special characters like newline (\n) and quote (\') can be escaped'
print(x, y, z, sep='\n')

This is a "valid" Python string
So is this, isn't it?
Special characters like newline (
) and quote (') can be escaped

In [61]:
# Python strings can extend over multiple lines, 
# but they must be "triple-quoted"
print("""This is a fine Python string, 
even though it extends
over multiple lines.""")
print('''Triple-single quotes work, as well, 
and you can embed any other kind of quote 
without escaping: '' "" """  ''')

This is a fine Python string,
even though it extends
over multiple lines.
Triple-single quotes work, as well,
and you can embed any other kind of quote
without escaping: '' "" """

Strings can be "sliced" to retrieve a single-character string or a substring

In [62]:
x = 'The quick brown fox jumps over the lazy dog'
x[0] # zero-based

'T'

In [63]:
x[len(x)-1]

'g'

In [64]:
x[-1]  # negative indexes mean to start at the end and work backwards

'g'

String slicing for substrings

In [65]:
for i in range(0, 3):
    print(i, end=' ')

0 1 2

In [66]:
x[0:3]

'The'

In [67]:
# If you omit a part of a slice, Python "fills in" a value that makes sense
x[:3] # fill in the start of the string

'The'

In [68]:
x[-3:]  # fill in the end of the string

'dog'

In [69]:
# Get even characters  (like range(0, len(x), 2))
x[::2]

'Teqikbonfxjmsoe h aydg'

In [70]:
# Get odd characters
x[1::2]

'h uc rw o up vrtelz o'

In [71]:
x[::-1]

'god yzal eht revo spmuj xof nworb kciuq ehT'

In [72]:
x

'The quick brown fox jumps over the lazy dog'

String concatenation

In [73]:
"This is " + "just fine."

'This is just fine.'

Centering strings

In [76]:
len(x) / 2

21.5

In [77]:
x[21:23]

'um'

In [78]:
x.center(80)

'                  The quick brown fox jumps over the lazy dog                   '

In [79]:
len(x.center(80))

80

String duplication

In [80]:
'-' * 10

'----------'

Other string-y things

In [81]:
# Raw strings: ignores most backslashes so you can create strings with 
#   backslashes (useful for regular expressions)
print(r'This string contains a backslash (\n), but I don\'t have to escape it')

This string contains a backslash (\n), but I don\'t have to escape it

In [82]:
print('This string contains a backslash (\\n), but I don\\\'t have to escape it')

This string contains a backslash (\n), but I don\'t have to escape it

In [83]:
# Bytestrings ('bytes' object) - 8-bit stringlike data
print(b'This is a bytes object. It looks like a string, but it is not.')

b'This is a bytes object. It looks like a string, but it is not.'

In [84]:
y = 'Unicode string'
y.encode('utf-8')

b'Unicode string'

In [85]:
# Iteration over strings iterates over each letter
for letter in x:
    print(letter, end=' ')

T h e   q u i c k   b r o w n   f o x   j u m p s   o v e r   t h e   l a z y   d o g

## Data Structures: list

Lists are
- dynamically typed
- mutable
- variably-sized
- ordered

In [86]:
lst = [1,2,'foo']   # mixing types is fine (though uncommon)

In [87]:
lst.append(5)
lst

[1, 2, 'foo', 5]

In [88]:
# Lists can be sliced just like strings
lst[:2]

[1, 2]

In [89]:
lst[3]

5

In [90]:
lst[3] = 'five'    # replace the value in position #5

In [91]:
lst

[1, 2, 'foo', 'five']

In [92]:
lst2 = list(range(10))
lst2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

www.pythontutor.com

In [93]:
lst2[1:-1] = ['foo']
lst2

[0, 'foo', 9]

In [94]:
lst + [10, 11]  # List concatenation

[1, 2, 'foo', 'five', 10, 11]

In [95]:
lst

[1, 2, 'foo', 'five']

In [96]:
lst.extend([12, 13])   # also lst += [12, 13]
lst

[1, 2, 'foo', 'five', 12, 13]

In [97]:
list('Some string')   # the `list` function can make lists of any iterable object

['S', 'o', 'm', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [98]:
# Iteration over lists iterates over each element
for element in lst:
    print(element)

1
2
foo
five
12
13

Optional static type annotations with http://mypy-lang.org

Lists internally are implemented as something like a `vector<PyObject*>` in C++

## Data Structures: tuple

Tuples are:

- dynamically typed
- immutable
- ordered

Typically used to represent:

- multiple attributes of a single item (x, y coordinates, file stat output, etc.)
- "multiple returns" from functions (return a tuple of results)

In [99]:
tup = 1, 2, 3, 4, 5
tup

(1, 2, 3, 4, 5)

In [100]:
tup[0]

1

In [101]:
print(1, 2, 3)

1 2 3

In [102]:
print((1, 2, 3))

(1, 2, 3)

In [103]:
tup[2:4]

(3, 4)

In [104]:
tup + ('one', 'two')  # creates a new tuple

(1, 2, 3, 4, 5, 'one', 'two')

In [105]:
orig_tup = tup
tup += ('one', 'two')  # so does this (e.g. tup = tup + ('one', 'two'))
tup

(1, 2, 3, 4, 5, 'one', 'two')

In [106]:
orig_tup

(1, 2, 3, 4, 5)

In [107]:
# 0-length tuple
()

()

In [108]:
# 1-length tuple
1,

(1,)

In [109]:
# Iteration over tuples iterates over each element
for element in tup:
    print(element)

1
2
3
4
5
one
two

It is possible to modify the __elements__ of a tuple:

In [110]:
x = ([10],['foo'])
x

([10], ['foo'])

In [111]:
# _tmp = x[0]
# _tmp.append(5)
x[0].append(5)

In [112]:
x

([10, 5], ['foo'])

In [113]:
x[0] = [5]

TypeError: 'tuple' object does not support item assignment

In [114]:
x[0].extend([1,2])

In [115]:
x

([10, 5, 1, 2], ['foo'])

In [116]:
x[0] += [3,4]

TypeError: 'tuple' object does not support item assignment

In [117]:
x

([10, 5, 1, 2, 3, 4], ['foo'])

## Data Structures: set

Sets are:

- dynamically typed
- mutable (unless `frozenset`)
- unordered

Set elements are unique

In [118]:
evens = {2, 4, 6, 8}
odds = {1, 3, 5, 7, 9}
primes = {2, 3, 5, 7}

In [119]:
evens.add(10)
evens

{2, 4, 6, 8, 10}

In [120]:
evens.add(4)
evens

{2, 4, 6, 8, 10}

In [121]:
evens.remove(10)
evens

{2, 4, 6, 8}

In [122]:
evens.remove(10)

KeyError: 10

In [123]:
evens.discard(10)  # remove, or ignore if missing
evens

{2, 4, 6, 8}

In [124]:
6 in evens    # most common set operation

True

In [125]:
evens | odds      # set union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [126]:
evens & primes    # set intersection

{2}

In [127]:
odds ^ primes     # set exclusive-or

{1, 2, 9}

In [128]:
odds - primes     # set subtraction

{1, 9}

In [129]:
odd_primes = odds & primes
odd_primes < odds   # proper subset

True

In [130]:
odd_primes <= odd_primes

True

In [131]:
odd_primes < odd_primes

False

In [132]:
# empty set
set()

set()

In [133]:
type({})

dict

In [134]:
# Iteration over sets iterates over each element
for element in evens:
    print(element)

2
4
6
8

In [135]:
import random
lst = [random.randint(0, 10) for i in range(100)]

In [136]:
lst

[6,
 0,
 9,
 4,
 3,
 2,
 10,
 9,
 8,
 4,
 1,
 1,
 9,
 2,
 7,
 5,
 10,
 10,
 0,
 9,
 0,
 7,
 1,
 10,
 4,
 8,
 6,
 0,
 3,
 1,
 2,
 10,
 6,
 10,
 5,
 4,
 1,
 7,
 0,
 10,
 0,
 8,
 6,
 10,
 8,
 3,
 9,
 0,
 3,
 4,
 5,
 5,
 0,
 8,
 9,
 8,
 7,
 1,
 2,
 2,
 5,
 9,
 4,
 3,
 0,
 10,
 4,
 6,
 4,
 10,
 10,
 1,
 3,
 3,
 10,
 4,
 4,
 2,
 4,
 2,
 8,
 2,
 5,
 5,
 7,
 4,
 3,
 1,
 8,
 2,
 7,
 4,
 2,
 2,
 4,
 7,
 5,
 9,
 0,
 6]

In [137]:
set(lst)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [138]:
5 in evens

False

In [139]:
5 in list(evens)

False

In [140]:
{ [] }

TypeError: unhashable type: 'list'

## Data Structures: dict

dictionaries ("`dict`s") are
- dynamically typed
- mutable
- somewhat ordered

...mappings between keys and values.

Dict keys must be "hashable" (generally means immutable, so numbers, strings, and tuples are fine; lists, sets, and other dicts are not)

In [141]:
dct = {'one': 1, 2: 'two', 3.14: 'pi'}
dct

{'one': 1, 2: 'two', 3.14: 'pi'}

In [142]:
# dicts are iterated in their insertion / creation order in Python 3.6+. 
# Iteration iterates over the *keys* of the dictionary
for key in dct:
    print(key)

one
2
3.14

In [143]:
# We can also iterate over values or (key, value) tuples with dict methods:

In [144]:
for value in dct.values():
    print(value)

1
two
pi

In [145]:
for tup in dct.items():
    print(tup)

('one', 1)
(2, 'two')
(3.14, 'pi')

In [146]:
# More commonly:
for cabbage, carrot in dct.items():
    print(cabbage, carrot)

one 1
2 two
3.14 pi

In [147]:
# Correct but non-Pythonic
for key in dct.keys():
    print(key, dct[key])

one 1
2 two
3.14 pi

In [148]:
dct[2]

'two'

In [149]:
dct[3.14]

'pi'

In [150]:
dct[2] = 'two are better than one'

In [151]:
dct

{'one': 1, 2: 'two are better than one', 3.14: 'pi'}

In [152]:
dct[4] = {
    'Something else': 'entirely'
}

In [153]:
dct

{'one': 1,
 2: 'two are better than one',
 3.14: 'pi',
 4: {'Something else': 'entirely'}}

In [154]:
dct[2] = 2.0

dct['pi'] = '3.14'

dct

{'one': 1, 2: 2.0, 3.14: 'pi', 4: {'Something else': 'entirely'}, 'pi': '3.14'}

In [155]:
dct[4]['Something else']

'entirely'

## Membership tests

The `in` keyword is used to determine whether an item is contained in a collection.

In [156]:
'foo' in 'foobar'   # substring

True

In [157]:
1 in [1,2], 1 in (1, 2), 1 in {1, 2}

(True, True, True)

In [158]:
10 in [1,2], 10 in (1, 2), 10 in {1, 2}

(False, False, False)

In [159]:
# Dict membership tests *keys*, not *values*
dct = {'one': 1, 2: 'two'}
dct

{'one': 1, 2: 'two'}

In [160]:
'one' in dct

True

In [161]:
'two' in dct

False

In [162]:
'two' in dct.values()   # O(n)

True

Useful Dictionary methods

In [163]:
dct

{'one': 1, 2: 'two'}

In [164]:
dct['three']

KeyError: 'three'

In [165]:
print(dct.get('three'))

None

In [166]:
print(dct.get('three', 'missing'))

missing

In [167]:
dct

{'one': 1, 2: 'two'}

In [168]:
dct.get('one', 4)

1

In [169]:
dct

{'one': 1, 2: 'two'}

In [170]:
letters = {}   # letter: [letter...]
s = 'This is a good string to start with'
for letter in s:
    lst = letters.get(letter, [])
    lst.append(letter)
    letters[letter] = lst
letters

{'T': ['T'],
 'h': ['h', 'h'],
 'i': ['i', 'i', 'i', 'i'],
 's': ['s', 's', 's', 's'],
 ' ': [' ', ' ', ' ', ' ', ' ', ' ', ' '],
 'a': ['a', 'a'],
 'g': ['g', 'g'],
 'o': ['o', 'o', 'o'],
 'd': ['d'],
 't': ['t', 't', 't', 't', 't'],
 'r': ['r', 'r'],
 'n': ['n'],
 'w': ['w']}

In [171]:
letters = {}   # letter: [letter...]
s = 'This is a good string to start with'
for letter in s:
    lst = letters.setdefault(letter, [])
    lst.append(letter)
    # no need to assign letters[letter] here
letters

{'T': ['T'],
 'h': ['h', 'h'],
 'i': ['i', 'i', 'i', 'i'],
 's': ['s', 's', 's', 's'],
 ' ': [' ', ' ', ' ', ' ', ' ', ' ', ' '],
 'a': ['a', 'a'],
 'g': ['g', 'g'],
 'o': ['o', 'o', 'o'],
 'd': ['d'],
 't': ['t', 't', 't', 't', 't'],
 'r': ['r', 'r'],
 'n': ['n'],
 'w': ['w']}

# Summary of collections


| Type  | Mutable | Ordered   | Membership test |
|-------|---------|-----------|-----------------|
| str   | no      | yes       | O(n)            |
| list  | yes     | yes       | O(n)            |
| tuple | no      | yes       | O(n)            |
| set   | yes     | no        | O(1)            |
| dict  | yes     | mostly no | O(1) (for keys) |


- list.append is amortized O(1)  (on average, O(1), but worst-case could take up to O(n))
- adding to dict, set amortized O(1)

## Length 

Python collections have a length which is accessed via the `len` builtin function:

In [172]:
x = 'some string'
len(x)

11

In [173]:
len(lst)

2

In [174]:
len(tup)

2

In [175]:
len(dct)

2

In [176]:
len(evens)

4

## "Truthiness" in Python

When using `while`, `if`, and `elif`, or the boolean operators `and`, `or`, and `not`, Python converts expressions to boolean types. If a value is converted to `True`, we say that value is "truthy," otherwise it is "falsey".

Most values are truthy. Falsey values are:

- `False`
- `None`
- `0`, `0.0`, `0j`
- `''`
- empty collections (where len(value) == 0)
- User-defined types ("classes") can use custom behavior (but don't worry about this yet)

In [177]:
bool([]), bool([1])

(False, True)

In [178]:
x = ''
if x:
    print('truthy')
else:
    print('falsey')

falsey

## Calling Python functions

Python functions are called using the "call operator" (parentheses):

In [179]:
# function name (no call happens)
print

In [180]:
# function call (no arguments)
print()

In [181]:
# function call (with arguments)
print(1, 2, 3)

1 2 3

Functions arguments can be passed *positionally* (as above) or *by name* (sometimes called 'keyword arguments):

In [182]:
print(1, 2, 3, sep='-', end='<<EOL>>')

1-2-3<<EOL>>

## Defining Python functions

The `def` keyword is used to create a Python function:

In [183]:
def greet(name):
    print('Hello there,', name)

In [184]:
name = 'Rick'
greet(name)
# greet('Rick')

Hello there, Rick

In [185]:
greet('class')

Hello there, class

In [186]:
def menu(appetizer, entree, dessert):
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)

In [187]:
menu('samosas', 'palak paneer', 'gulab jamun')

Your menu:
For an appetizer, samosas
For your entree, palak paneer
For dessert, gulab jamun

In [188]:
# Keyword arguments may be called in any order
menu(
    dessert='gulab jamun',
    appetizer='samosas', 
    entree='palak paneer', 
)

Your menu:
For an appetizer, samosas
For your entree, palak paneer
For dessert, gulab jamun

Functions can have *default arguments* defined:

In [189]:
def menu(appetizer, entree, dessert='Mysore pak'):
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)

In [190]:
menu('samosas', 'biryani')

Your menu:
For an appetizer, samosas
For your entree, biryani
For dessert, Mysore pak

### Potential pitfall: mutable default arguments

In [191]:
def menu(appetizer, entree, dessert='Mysore pak', extras=[]):
#     if extras is None:
#         extras = []
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)
    extras.append('foo')
    for e in extras:
        print('Extra: ', e)

In [192]:
menu('samosas', 'curry')

Your menu:
For an appetizer, samosas
For your entree, curry
For dessert, Mysore pak
Extra:  foo

In [193]:
menu('samosas', 'curry')

Your menu:
For an appetizer, samosas
For your entree, curry
For dessert, Mysore pak
Extra:  foo
Extra:  foo

If you have a `tuple` or `list` of arguments, these can be 'unpacked' when calling a function using the `*` operator:

In [194]:
def menu(appetizer, entree, dessert='Mysore pak'):
    print('Your menu:')
    print('For an appetizer,', appetizer)
    print('For your entree,', entree)
    print('For dessert,', dessert)

In [196]:
lst = ['samosas', 'biryani', 'gulab jamun']
menu(lst[0], lst[1], lst[2])

Your menu:
For an appetizer, samosas
For your entree, biryani
For dessert, gulab jamun

In [197]:
menu(*lst)

Your menu:
For an appetizer, samosas
For your entree, biryani
For dessert, gulab jamun

If you have a `dict` of arguments, these can be 'unpacked' using the `**` operator:

In [198]:
dct = {
    'appetizer': 'pakoda',
    'entree': 'palak paneer',
    'dessert': 'gulab jamun',
}
menu(
    appetizer=dct['appetizer'],
    entree=dct['entree'],
    dessert=dct['dessert'],
)

Your menu:
For an appetizer, pakoda
For your entree, palak paneer
For dessert, gulab jamun

In [199]:
menu(**dct)

Your menu:
For an appetizer, pakoda
For your entree, palak paneer
For dessert, gulab jamun

You can *define* a function which takes variable arguments (or keyword arguments) similarly:

In [200]:
def print_invitations(*attendees):
    print('The following people are invited:')
    for a in attendees:
        print('-', a)

In [201]:
print_invitations('Rick', 'Kirby')

The following people are invited:
- Rick
- Kirby

In [202]:
lst = ['Rick', 'Kirby']
print_invitations(*lst)

The following people are invited:
- Rick
- Kirby

In [203]:
def print_invitations(*attendees, **credits):
    print('The following people are invited:')
    for a in attendees:
        print('-', a)
    print('Thanks to the following people:')
    for role, name in credits.items():
        print('- to', name, 'for', role)

In [204]:
print_invitations('Rick', 'Kirby', 'Sheetal', cooking='Matthew', entertainment='Anna')

The following people are invited:
- Rick
- Kirby
- Sheetal
Thanks to the following people:
- to Matthew for cooking
- to Anna for entertainment

In [205]:
attendees = ['Rick', 'Kirby']
credits = {'cooking': 'Matthew', 'entertainment': 'Anna'}
print_invitations(*attendees, **credits)

The following people are invited:
- Rick
- Kirby
Thanks to the following people:
- to Matthew for cooking
- to Anna for entertainment

In [206]:
lst = list(range(10))

In [207]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [208]:
first, second, third, fourth, *rest, last = lst

In [209]:
first

0

In [210]:
rest

[4, 5, 6, 7, 8]

In [211]:
last

9

In [212]:
def divmod(a, b):
    quot = a // b
    rem = a % b
    return quot, rem

In [213]:
divmod(37, 4)

(9, 1)

In [214]:
q, r = divmod(37, 4)

In [215]:
q

9

In [216]:
r

1

In [217]:
dct1 = {'a': 1, 'b': 2}
dct2 = {'b': 3, 'c': 4}

In [218]:
dct3 = dict(dct1)
dct3.update(dct2)
dct3

{'a': 1, 'b': 3, 'c': 4}

In [219]:
dct3 = {
    **dct1, 
    **dct2,
}
dct3

{'a': 1, 'b': 3, 'c': 4}

In [220]:
lst = [*'abc', *'def']

In [221]:
lst

['a', 'b', 'c', 'd', 'e', 'f']

# Exceptions

In [222]:
1 / 0

ZeroDivisionError: division by zero

In [223]:
try:
    1 / 0
except ZeroDivisionError:
    print('You tried to divide by zero!')

You tried to divide by zero!

In [224]:
try:
    1 / 0
except ZeroDivisionError:
    print('You tried to divide by zero!')
    raise

You tried to divide by zero!

ZeroDivisionError: division by zero

In [225]:
def some_function():
    try:
        5 / 0
    except ValueError:
        print('You raised a valueError!')
    
try:
    some_function()
except ZeroDivisionError:
    print('Handle Error!')

Handle Error!

Core exception types

- `Exception` is the base of *most* built-in exceptions
- `BaseException` is the base of *all* built-in exceptions

`BaseException` -> `Exception` -> (`*Error`)

In [228]:
[x for x in dir(__builtins__) if x.endswith('Error')]

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'EOFError',
 'EnvironmentError',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'IOError',
 'ImportError',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'NotADirectoryError',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'RuntimeError',
 'SyntaxError',
 'SystemError',
 'TabError',
 'TimeoutError',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'ValueError',
 'ZeroDivisionError']

In [229]:
issubclass(KeyError, LookupError)

True

In [230]:
def withdraw(balance, amount):
    if amount < 0:
        raise ValueError('Amount must be positive!')
    else:
        return balance - amount

In [231]:
withdraw(100, 10)

90

In [232]:
withdraw(100, -10)

ValueError: Amount must be positive!

In [233]:
try:
    withdraw(100, -10)
except KeyError:
    print("Probably won't happen")
except ValueError as err:
    print('Sorry!', err)
except (NameError, IndexError) as err:
    print('Either name or index error', err)
except Exception: 
    print('Do something')
except:
    print('Some unhandled exception')
    raise
else:
    print('All good!')
finally:
    print('Finally!')

Sorry! Amount must be positive!
Finally!

In [234]:
issubclass(KeyError, (LookupError, IndexError))

True

# Lab

Open the [Core Syntax Lab][core-syntax-lab]

[core-syntax-lab]: ./core-syntax-lab.ipynb